<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontkit</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Pacifico" rel="stylesheet">
    <link href="styles/main.min.css" rel="stylesheet">
  </head>
  <body class="container">
    <header class="header">
      <h1 class="header__logo">Frontkit</h1>
      <nav class="header__menu">
        <ul>
          <li><a href="#docs">Docs</a></li>
          <li><a href="http://github.com/lamberski/frontkit">Github</a></li>
        </ul>
      </nav>
    </header>

    <section class="intro section row">
      <div class="row__column row__column--half">
        <h2 class="heading heading--intro">Opinionated all-in-one static site generator.</h2>
      </div>
      <div class="row__column row__column--half">
        <ol class="code-listing">
          <li>npm install -g frontkit</li>
          <li>frontkit new project-name</li>
          <li class="code-listing__comment">// &amp; start writing your code.</li>
        </ol>
      </div>
    </section>

    <section class="docs section">
      <section class="docs__section">
        <div class="copy-block">
          <h2 class="heading heading--docs">About</h2>
          <p>Frontkit is a static site generator. It consists of directories structure, base files and Gulp workflow which supports modern web tools like Browserify, JavaScript ES6 support, CSS preprocessors, file minificators, image optimizers.</p>
        </div>
      </section>

      <section class="docs__section row">
        <div class="row__column row__column--half">

        </div>
        <div class="row__column row__column--half">

        </div>
      </section>
    </section>

    <footer class="footer section">
      <p>Site created by <a href="http://lamberski.com">Maciej Lamberski</a> using <a href="http://github.com/lamberski/frontkit">Frontkit</a>.</p>
    </footer>
  </body>
</html>
