@charset "UTF-8";

/*
 *  Project Name (Month YYYY or Version)
 *  Crafted with passion by http://lamberski.com
 *
 *  1 Global
 *    1.1 Reset
 *    1.2 Default
 *    1.3 Components
 *  2 Header
 *  3 Content
 *  4 Footer
 *  5 Responsive Web Design
 *    5.1 Screen
 *    5.2 Handheld
 */

/*
 *  1 Global
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
 *  1.1 Reset (based on Reset v2.0 by Eric Meyer)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* border: 0; */ /* Only if needed */
  padding: 0;
  margin: 0;
}

/*
 *  1.2 Default
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {

}

/*
 *  1.3 Components (and, if needed, more complex modules)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.outline {
  display: none;
}

.accessibility {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

/*  Micro clearfix hack (http://nicolasgallagher.com/micro-clearfix-hack/)
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* For modern browsers */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */

.clearfix {
  zoom: 1;
}

/*
 *  2 Header
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

[role="banner"] {

}

/*
 *  3 Content
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

[role="main"] {

}

/*
 *  4 Footer
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

[role="contentinfo"] {

}

/*
 *  5 Responsive Web Design (based on Less Framework 3)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
 *  5.1 Screen
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*  60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/*  60px  144px  228px  312px  396px  480px  564px  648px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 983px) and (min-width: 767px) {



}

/*
 *  5.2 Handheld
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 767px) {



}

/*  60px  144px  228px  312px  396px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 767px) and (min-width: 480px) {



}

/*  60px  144px  228px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 479px) {



}
