<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ projectName }}</title>
    <link href="styles/main.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="accessibility-nav">
      <ol>
        <li><a href="#navigation">Skip to navigation</a></li>
        <li><a href="#content">Skip to content</a></li>
      </ol>
    </nav>

    <header class="header">
      <h1 class="outline">{{ projectName }}</h1>

      <a href="#" rel="index">
        <img src="" alt="">
      </a>

      <nav id="navigation">
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </nav>
    </header>
