html {
  font-size: $size--base;

  &, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font--base;
  line-height: $line--base;
  color: $color--base;
}

svg,
img {
  vertical-align: top;
  max-width: 100%;
  fill: currentColor;
}

a {
  &:hover,
  &:focus {

  }
}
