* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  font-size: $size--base;
}

svg {
  vertical-align: top;
  width: 1em;
  height: 1em;
  fill: black;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  &:hover,
  &:focus {

  }
}
