.outline {
  @include a11y-only();
}

.accessibility-nav {
  position: absolute;
  top: 0;
  left: -9999em;
  z-index: 1000;

  a {
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  a:active,
  a:focus {
    left: 9999em;
  }
}
