
@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == laptop {

    @media (max-width: $breakpoint-laptop) {
      @content;
    }

  } @else if $breakpoint == tablet {

    @media (max-width: $breakpoint-tablet) {
      @content;
    }

  } @else if $breakpoint == phablet {

    @media (max-width: $breakpoint-phablet) {
      @content;
    }

  } @else if $breakpoint == phone {

    @media (max-width: $breakpoint-phone) {
      @content;
    }

  }
}
