
// Variables
//----------------------------------------------------------------------------//

$breakpoints: (
  'laptop'  : (max-width: 1440px),
  'tablet'  : (max-width: 1024px),
  'phablet' : (max-width: 736px),
  'phone'   : (max-width: 480px),
);

$size--base: 16px;

// Mixins
//----------------------------------------------------------------------------//

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin breakpoint($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin modernizr($feature) {
  html.#{$feature} & {
    @content;
  }
}

@function rem($size--desired) {
  @return ($size--desired / $size--base) * 1rem;
}
