
// Variables
//----------------------------------------------------------------------------//

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-phablet: 736px;
$breakpoint-phone: 480px;

$size-base: 16px;

// Mixins
//----------------------------------------------------------------------------//

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == laptop {

    @media (max-width: $breakpoint-laptop) {
      @content;
    }

  } @else if $breakpoint == tablet {

    @media (max-width: $breakpoint-tablet) {
      @content;
    }

  } @else if $breakpoint == phablet {

    @media (max-width: $breakpoint-phablet) {
      @content;
    }

  } @else if $breakpoint == phone {

    @media (max-width: $breakpoint-phone) {
      @content;
    }

  }
}

@function rem($desired-size) {
  @return ($desired-size / $size-base) * 1rem;
}
