@charset "UTF-8";

/*******************************************************************************
 *
 *  Project Name (Month YYYY or Version)
 *  Crafted with passion by Maciej Lamberski (http://lamberski.com).
 *
 *******************************************************************************
 *
 *  1 BASE
 *    1.1 Reset
 *    1.2 Hidden
 *    1.3 Clearfix
 *    1.4 Image Replacement
 *    1.5 Defaults
 *
 *  2 COMMON
 *    2.1 Wrapper
 *    2.2 Header
 *    2.3 Navigation
 *    2.4 Content
 *    2.5 Sidebar
 *    2.6 Footer
 *
 *  3 PAGES
 *    3.1 Index
 *
 ******************************************************************************/

/*  1 BASE
 ******************************************************************************/

/*  1.1 Reset (based on Reset v2.0 by Eric Meyer)
 *============================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset for buttons in Firefox */

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

/*  1.2 Hidden
 *============================================================================*/

.hidden {
  position: fixed;
  left: -999em;
}

/*  1.3 Clearfix
 *============================================================================*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.ie7 .cf {
  zoom: 1;
}

/*  1.4 Image Replacement
 *============================================================================*/

.ir {
  display: block;
  position: relative;
  overflow: hidden;
}

.ir span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ie7 .ir a span,
.ie7 a.ir span {
  cursor: pointer;
}

/*  1.5 Defaults
 *============================================================================*/

body {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
}

hr {
  display: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

address, cite, dfn {
  font-style: normal;
}

abbr, acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

/* Links */

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/* Forms */

input, textarea, select {

}

textarea {
  overflow: auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea {

}

input[type="reset"],
input[type="button"],
input[type="submit"],
button {

}

/*  2 COMMON
 ******************************************************************************/

/*  2.1 Wrapper
 *============================================================================*/

.wrapper {
  margin: 0 auto;
  position: relative;
}

/*  2.2 Header
 *============================================================================*/

#header {

}

/*  2.3 Navigation
 *============================================================================*/

#navigation {

}

/*  2.4 Content
 *============================================================================*/

#content {

}

/*  2.5 Sidebar
 *============================================================================*/

#sidebar {

}

/*  2.6 Footer
 *============================================================================*/

#footer {

}

/*  3 PAGES
 ******************************************************************************/

/*  3.1 Index
 *============================================================================*/

.page-index {

}