@charset "UTF-8";

/*
 *  Site Name (Month YYYY)
 *  Crafted with passion by http://lamberski.com
 *
 *  1 Reset
 *  2 General
 *  3 Layout
 *  3.1 Header
 *  3.2 Content
 *  3.2.1 Main
 *  3.2.2 Sidebar
 *  3.3 Footer
 *  4 Responsive Web Design
 *  4.1 Screen
 *  4.2 Handheld
 */

/*
 *  1 Reset (Reset v2.0 by Eric Meyer)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 *  2 General (document structure, grids)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.outline {
  display: none;
}

.accessibility {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*
 *  3 Layout
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {

}

a {

}

a:hover {

}

a:active {

}

.wrapper {
  margin: 0 auto;

}

/*
 *  3.1 Header
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#header {

}

#logo {

}

/*  Navigation
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#navigation {

}

/*
 *  3.2 Content
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#content {

}

/*
 *  3.2.1 Main
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#main {

}

/*
 *  3.2.1 Sidebar
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#sidebar {

}

/*
 *  3.4 Footer
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#footer {

}

/*
 *  4 Responsive Web Design (based on Less Framework 3)
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
 *  4.1 Screen
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*  60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/*  60px  144px  228px  312px  396px  480px  564px  648px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 983px) and (min-width: 767px) {



}

/*
 *  4.2 Handheld
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 767px) {



}

/*  60px  144px  228px  312px  396px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 767px) and (min-width: 480px) {



}

/*  60px  144px  228px
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 479px) {



}
